
.shoes-card{
    border: none;
}
.shoes-footer{
    border: none;
    background-color: white;
}
.top-slide{
    background-color: #fceae8;
    border-radius: 1em;
}
.catagories img{
  width: 80px;
}